* {
  margin: 0px;
  font-family: 'Balsamiq Sans', cursive;
  color: #ffffff;
}

body {
   text-align: center;
}

/*-----------------------------Header-----------------------------*/
.header {
text-align: center;
}

.imagen {
text-align: center;
}

/*-----------------------------Menu-----------------------------*/
nav {
margin-top: 10px;
padding: 24px;
text-align: center;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
margin: 10px; 
}

#nav {
background: #7cc3ac;
margin-bottom: 15px;
}

.link {
transition: 0.3s ease;
background: #7cc3ac;
color: #ffffff;
font-size: 20px;
text-decoration: none;
border-top: 4px solid #7cc3ac;
border-bottom: 4px solid #7cc3ac;
padding: 20px 0;
margin: 0 100px;
}

.link:hover {
border-top: 4px solid #ffffff;
border-bottom: 4px solid #ffffff;
padding: 6px 0;
}

/*-----------------------------Section-----------------------------*/

.titulos{
color:#ffffff;
margin-top: 10px;
margin-bottom: 10px;
font-size: 20px;
font-weight: bold;
}

article {
background-color: #7cc3ac;
padding: 20px;
margin-bottom: 15px;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
width: 1000px;
text-align: left;
}

.agrupar {
width: 1000px;
margin: 15px auto;
}


